/* colors */

/*
60% of #78511b - Primary
30% of #511b78 - Secondary
10% of #1B7851 - Accent
*/

:root {

/* var(--dominantColor) !important; */
--dominantColor: #78511b; 

/* var(--secondaryColor) !important; */
--secondaryColor: #511b78; 

/* var(--accentColor) !important; */
--accentColor: #1B7851; 

}