
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); 
@import 'global.css';
@import 'main.css';

.fa-row {
    background-color: var(--dominantColor) !important; 
    padding: 35px;
    color: #ffff;
}

.fa-row-icon {
    font-size: 60px;
    color: #ffff;
}

.fa-row-icon:hover {
    transform: scale(1.1);
}

.first-paragragh-div {
    position: relative;
    background-color: #fff;
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    padding: 20px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 18px;
    font-family: "Lato", sans-serif;
    margin-left: auto;
    margin-right: auto;
}

/* Table */
.content-table {
    border-collapse: collapse;
    /*max-width: 1000px;*/
    margin: auto;
    text-align: center;
    width: 100%;
  }
  
  .content-table th, .contant table td {
    padding: 20px;
    
  }
  
  .content-table thead tr {
    border-bottom: 1px solid #dddddd;
    background-color: var(--dominantColor) !important; 
    color: #ffffff; 
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff; 
  } 
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 3px solid var(--dominantColor) !important;
  }
  
  .content-table tbody tr:first-of-type {
    background-color: #ffffff;
    border-right: 3px solid #dddddd;
     
  }

  .schedule-section {
    background-color: #f6f8fa;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (max-width:768px) {

    .first-paragragh-img {
      width: 100%; 
    }

  }

  .list-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .list-img {
    width: 300px;
    height: 300 px;
    border-radius: 50%;
  }
